[user]
	name = yinsigan
	email = ganweiliang886@gmail.com
[credential]
	helper = cache
[color]
	diff = auto
	ui = true
[alias]
	last = cat-file commit HEAD
	st = status
	throw = reset --hard HEAD
	ci = commit -a -v
        co = checkout
        br = branch
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	mg = commit --file .git/MERGE_MSG
